{% extends "login/base.html" %}

{% block body %}
{% include "login/css/login_css.html" %}
<div style="
display: flex;
justify-content: space-around;
">
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="{% url 'signup' %}" method="POST">
			{% csrf_token %}
			<h1>Create Account</h1>
			<div class="form-signup">
			<p>Username {{ form.username }}</p>
			<p>{{ form.username.errors }}</p>
			<p>Email {{ form.email }}</p>
			<p>{{ form.email.errors }}</p>
			<p>Password{{ form.password1 }}</p>
			<p>{{ form.password1.errors }}</p>
			<p>Confirm Password{{ form.password2 }}</p>
			<p>{{ form.password2.errors }}</p>
			</div>	
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="{% url 'login' %}" method="post">
            {% csrf_token %}
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password1" placeholder="Password">
            <a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
</div>
<script>
    const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});
</script>

{% endblock %}