<div style="
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    padding-bottom: 10px;
">
  <div
    style="display: flex;justify-content: space-between;padding-left: 5vw;padding-right: 5vw;align-items: center;font-family: sans-serif;">
    <div>
      <a href="/"><img
          src="https://scontent.fblr1-4.fna.fbcdn.net/v/t1.6435-9/87503689_111002383835295_3256861726187978752_n.png?_nc_cat=108&ccb=1-5&_nc_sid=973b4a&_nc_ohc=joJoEuK2r7UAX8n8ToN&_nc_ht=scontent.fblr1-4.fna&oh=d5849ce590313d2f2f11307fd9cdb872&oe=61D6BA2C"
          alt="Home" style="width: 120px;"></a>
    </div>

    <div style="text-align: center;">
      <h3 class="rtecenter" style="
    margin-block-start: 0;
    margin-block-end: 15px;
    font-weight: normal;
"><span style="font-size:16px">Rashtreeya Sikshana Samithi Trust</span></h3>
      <h1 class="rtecenter" style="
    text-decoration: none;
    margin-block-end: 0;
"><span style="font-size:26px"><a href="/" style="
    text-decoration: none;
">R V College of Engineering </a></span></h1>
      <h6 class="rtecenter" style="
    margin-block-start: 7px;
    margin-block-end: 3px;
    font-weight: normal;
"><span style="font-size:12px">Autonomous Institution affiliated to Visvesvaraya Technological University,
          Belagavi</span></h6>
      <h6 class="rtecenter" style="
    margin-block-start: 3px;
    margin-block-end: 0;
    font-weight: normal;
"><span style="font-size:12px">Approved By AICTE, New Delhi, Accredited By NBA, New Delhi</span></h6>
    </div>

    <div style="display: flex;justify-content: space-between;">
      <h1 style="font-weight: normal;
    display: flex;
    align-items: center;
    font-size: 25px;
    float: left;
    padding-right: 2vw;
    ">Since 1963</h1>
      <img alt="" src="https://www.rvce.edu.in/sites/all/themes/tb_rave/images/anniversary-logo.jpg">
    </div>
  </div>
</div>